#fcc_test_suite_wrapper {
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --StandarColor : #130522;
  --SelectColor : #2c1742eb;
}

body {
  overflow-x: hidden;
  font-family: 'Anek Telugu', sans-serif;
  background-color: var(--StandarColor);
}

button,input[type="text"],input[type="email"],input[type="number"],textarea {
  all: unset;
}

input[type="text"],input[type="email"],input[type="number"] {
  border-radius: 8px;
  border: 1px solid #1305227c;
  padding: 8px 10px;
  cursor: text;
}

input[type="text"]:focus-within,input[type="email"]:focus-within,input[type="number"]:focus-within{ 
  border: 1px solid var(--StandarColor);
}

#Default,#Atras1,#Atras2,#Atras3,#Atras4,#Siguiente1,#Siguiente2,#Siguiente3,#Siguiente4,#OtroText {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  align-items: center;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  background-image: url("./img/FondoCuestionario.jpg");
  background-size: cover;
  background-position: top;
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.425);
}

header>h1{
  font-size: 2.5rem;
  text-align: center;
  max-width: 460px;
  color: white;
}

header>p {
  text-align: justify;
  max-width: 460px;
  color: white;
}

main {
  padding: 30px 5px;
  color: var(--StandarColor);
}

.PrimaryData,.SecondData,.ThirdData,.FinalData,.FourthData {
  height: 0px;
  width: 0px;
  overflow: hidden;
  margin: auto;
  max-width: 630px;
}

#Default:checked~.PrimaryData,#Siguiente1:checked~.SecondData,#Atras1:checked~.PrimaryData,#Siguiente2:checked~.ThirdData,#Atras2:checked~.SecondData,#Siguiente3:checked~.FourthData,#Atras3:checked~.ThirdData,#Siguiente4:checked~.FinalData,#Atras4:checked~.FourthData {
  height: max-content;
  width: 95%;
  border: 1px solid #4d7ec5;
  box-shadow: rgb(255 255 255 / 25%) 0px 54px 55px, rgb(255 255 255 / 12%) 0px -12px 30px, rgb(255 255 255 / 12%) 0px 4px 6px, rgb(255 255 255 / 17%) 0px 12px 13px, rgb(255 255 255 / 9%) 0px -3px 5px;
}

#Siguiente1:checked~.SecondData,#Atras1:checked~.PrimaryData,#Siguiente2:checked~.ThirdData,#Atras2:checked~.SecondData,#Siguiente3:checked~.FourthData,#Atras3:checked~.ThirdData,#Siguiente4:checked~.FinalData,#Atras4:checked~.FourthData {
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.ButtonAction {
  display: block;
  box-sizing: content-box;
  padding: 10px 8px;
  border-radius: 5px;
  background-color: var(--StandarColor);
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}

.DesignDefault {
  background-color: white;
  border-radius: 10px;
}

.limit {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-width: 466px;
  margin: auto;
  font-size: 1.1rem;
}

.limit .Context {
  font-weight: 600;
}

.PrimaryData .limit .Options{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.PrimaryData .limit .Options>h2{
  padding-left: 8px;
  font-weight: 400;
  font-size: 1.1rem;
}

.PrimaryData .limit .ButtonAction {
  align-self: center;
}

.SecondData {
  font-size: 1.1rem;
}

.SecondData .limit .FavoriteCharacter,.SecondData .limit .FavoriteCouple{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.SecondData .limit .FavoriteCharacter .Options{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.SecondData .limit .FavoriteCharacter .Options div{
  display: flex;
  align-items: center;
  gap: 8px;
}

.SecondData .limit .FavoriteCharacter .Options div:last-child{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}

.SecondData .limit .FavoriteCharacter .Options div:last-child label{
  width: max-content;
}

.SecondData .limit .FavoriteCharacter .Options div:last-child input[type="text"]{
  grid-column: 1/3;
}

.SecondData .limit .FavoriteCharacter .Options div:last-child #otro:checked~#OtroText{
  display: inherit;
}

.FavoriteCharacter input[type="checkbox"] {
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 1;
}

.FavoriteCharacter input[type="checkbox"]::after {
  content: "";
  position: absolute;
  z-index: 2;
  inset: -2px;
  border: 3px solid var(--SelectColor);
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.FavoriteCharacter input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-35%);
  background-image: url("./img/SvgCheck.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.SecondData .limit .FavoriteCouple select {
  background-color: var(--SelectColor);
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;
}

.SecondData .limit .FavoriteCouple select:focus {
  border: 1px solid var(--StandarColor);
}

.SecondData .limit .FavoriteCouple select option{
  background-color: white;
  color: var(--StandarColor);
}

.SecondData .limit .FavoriteCouple select option:disabled{
  color: #130522b3;
}

.ButtonsOptions {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
}

.QuestionsRadio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.QuestionsRadio div{
  display: flex;
  align-items: center;
  gap: 10px;
}


.QuestionsRadio input[type="radio"]{
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.QuestionsRadio input[type="radio"]::after{
  content: "";
  position: absolute;
  inset: 0;
  border: 3px solid var(--StandarColor);
  background-color: white;
  z-index: 2;
  cursor: pointer;
}

.QuestionsRadio input[type="radio"]:checked::before{
  content: "";
  position: absolute;
  inset: 5px;
  background-color: var(--StandarColor);
  z-index: 3;
  cursor: pointer;
}

.QuestionsRadio img,.PalabrasAUsuario img{
  display: block;
  margin: auto;
  border-radius: 8px;
  width: 95%;
  height: auto;
}

.FinalData textarea{
  border: 2px solid var(--SelectColor);
  padding: 10px;
  border-radius: 10px;
}

.FinalData p{
  text-align: center;
}

.FinalData .limit>label {
  align-self: center;
}

.PalabrasAUsuario,.Comentario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.PalabrasAUsuario {
  padding-bottom: 20px;
  border-bottom: 1px solid #2c17424d;
}

.RecomendacionAUsuario {
  font-size: 0.7rem;
  text-align: justify;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
